parameters:
    level: 10
    paths:
        - lib/src/Http
        - lib/src/Broadcaster.php
        - lib/src/ServiceProvider.php
        - lib/src/Http/UserAuthController.php
    scanFiles:
        - websocket.stub.php