{
    debug
    frankenphp
    order frankenphp_websocket before php_server
    metrics {
		per_host
	}
}

:8000 {
    route /ws {
        frankenphp_websocket {
            auth_path /broadcasting/auth
            auth_script ./public/websocket-worker.php
            num_workers 1
        }
    }
    
    root * ./public
    php_server
}